.border-10{
    border-width: 10px !important;
  }
.border-5{
    border-width: 5px !important;
}
  
  .border-orange {
    border-color: orange !important;
  }
  

.textshadow{
    text-shadow: 2px 2px 2px 2px #000000 !important;
}

li {
  text-align:center !important;
}

li span {
  position: relative !important;
  
}

.hidebullet {
  list-style-type: none;
}